body{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(100, 125, 150);
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
}
.grid-item{
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin: 5px;
    background-color: rgb(205, 205, 205);
    width: 50px;
    height: 50px;
}

#reset{
    width: 120px;
    height: 50px;
    background-color: rgba(255, 0, 0, 0.5);
    color: white;
    border-radius: 20px;
    text-align: center;
    padding: 5px; 
}

.inputTextArea{
    background-color: rgb(205, 205, 205);
    font-style: italic;
    border-radius: 7px;
}

input:hover {
    transform: scale(1.1);
    cursor: pointer;
}
input.inputTextArea:hover {
    transform: scale(1.1);
    cursor: text;
}