body{
    color: white;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(100, 125, 150);
}

hr{
    color: white;
}

#add-btn{
    border-radius: 8px;
    border-color: rgb(7, 42, 95);
}
#add-btn:hover{
    transform: scale(1.1);
    background-color: rgb(190, 190, 190);
    border-color: black;
}

#task{
    border-color: rgb(7, 42, 95);
}
#task:focus{
    background-color: lightblue;
}

#listaTasks li{
    padding: 5px;
    color: black;
}